<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="routinecheck5S test suite" parallel="false">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="listeners.EmailReportListener"/>
    </listeners>

     <test name="routinecheck5S">

        <classes>
            <class name="org.ohkuma.tests.OhkumaTest"/>
            <class name="org.sanmatsu.tests.SanmatsuTest"/>
            <class name="org.oaksystem.tests.OakSystemDrawTest"/>
            <class name="org.nisino.tests.NisinoScanTest"/>
        </classes>
    </test>
</suite>